extends ../layout

block header 
    style. 
        .tofa{
            margin: 2%;
        }
    

block content
    div(class="tofa")
        h4 Error
        hr 
        p DDS Authentication Error            
        p - Please Check your Username and Password 
        
                 