extends ../layout

block header 
    style. 
        .tofa{
            margin: 2%;
        }
    

block content
    div(class="tofa")
        h4 Error
        hr 
        p NODE VERSION INCOMPATIBILITY           
        p This Error Occurs as a Result of DDS TLS Incompatibility with your NodeJS Version
        p Install NodeJS Version 8.11.2 to Solve This Problem. 