extends ../layout

block header 
    style. 
        .tofa{
            margin: 2%;
        }
    

block content
    div(class="tofa")
      - if(data)
            h4 Parsing Error
            hr 
            p Parser unable to parse the data received. Please check if your DDS Service is running or set up correctly.
            p If you believe this is due to the ZEBRA not handling the correct response from DDS, please open an issue at github:  
                a(href="https://github.com/zowe/zebra") https://github.com/zowe/zebra
            hr
            p Data Received: !{data} 