extends ../layout

block header 
    style. 
        .tofa{
            margin: 2%;
        }
    

block content
    div(class="tofa")
      - if(errorw)
            h4 Parsing Error
            hr 
            p Error Message: !{errorw}
            hr
            p Data Received: !{data} 