extends ../layout

block header 
    style. 
        .tofa{
            margin: 2%;
        }
    

block content
    div(class="tofa")
        h4 Error
        hr 
        p REQUEST TIMED OUT 
        p Please verify if DDS URL, Port and MVSResourse values in Zconfig are correct. 
        p if all correct, Please check to see if DDS is Running.