extend layout

block content
    .apis
        h4 About ZEBRA
        p ZEBRA is part of the OMP Mentorship 2020 Projects. ZEBRA Provides a Generic Parser for converting RMF XML data to JSON.
        br
        h4 Zebra Version
        p v1.0.0
        br
        h4 Project Github Repo
        a(href="https://github.com/openmainframeproject-internship/Zowe-Parsing-Engine-for-SMF-or-RMF-PP-Reports") https://github.com/openmainframeproject-internship/Zowe-Parsing-Engine-for-SMF-or-RMF-PP-Reports
