extend layout

block content
    .apis
        p
        h4 About ZEBRA
        p ZEBRA was part of the OMP Mentorship 2020 Projects. It's now an Incubator Project under ZOWE. ZEBRA Provides a Generic Parser for converting RMF XML data to JSON.
        br
        h4 Zebra Version
        p v1.0.0
        br
        h4 Project Github Repo
        a(href="https://github.com/zowe/zebra") https://github.com/zowe/zebra
