block header
    link(rel='stylesheet', href='/stylesheets/slider.css')
    
block content
    .apis
        hr(style={"margin":"0"})
        .row
            .col-md-2
                p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Refresh Token
            .col-md-10
                form( action="/refreshT" method="post")
                    input(type="text" class="form-control" name="refresh" style={"margin-right": "10px", "margin-top":"6px","width":"100%"} value=`232t734674`)
                    button(type='submit' class='btn btn-primary float-right' id="rmf3b" style={ "margin-top":"6px"}) New Access Token
            
        hr(style={ "margin-top":"6px"})
    .salis(style={"width":"98%","max-height": "65vh","overflow" : "auto", "margin-top":"10px", "margin-bottom":"30px", "margin-left": "2%"})
        .row
            .col-md-2
                p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Access Token
                p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) LPAR NAME
            .col-md-10(style={"width":"96%"})
                .slideshow-container
                    .mySlides.faded
                        form( action="/addsetting" method="post")
                            if(acmsg)
                                div(class="alert alert-danger" role="alert") Access Token Verification Fail...Generate New
                            if(scmsg)
                                div(class="alert alert-primary" role="alert") ZConfig Updated Successfully. App will restart and you will lose your login session
                            input(type="text" class="form-control" name="access" style={"margin-right": "10px", "margin-top":"6px","width":"99%"} value=`asgsfgjhesgf`)
                            input(type="text" class="form-control" name="lparname" style={"margin-right": "10px", "margin-top":"6px","width":"99%"} value=`asgsfgjhesgf`)
                            .row(style={"width":"96%"})
                                .col-md-4
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) DDS IP Address
                                    input(type="text" class="form-control" name="ddsurl" style={"margin-right": "10px"} value=`fxbksghs`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Port
                                    input(type="text" class="form-control" name="ddsport" style={"margin-right": "10px"} value=`nfgkhkjsg`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) MongoDB IP Addres
                                    input(type="text" class="form-control" name="mongourl" style={"margin-right": "10px"} value=`nfmbgsjgksug`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) MongoDB port
                                    input(type="text" class="form-control" name="mongoport" style={"margin-right": "10px"} value=`bdfvhjgsksjrg`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) Database Name
                                    input(type="text" class="form-control" name="dbname" style={"margin-right": "10px"} value=`hmdfgjhgkjs`)
                                .col-md-4
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) DDS IP Address
                                    input(type="text" class="form-control" name="ddsurl" style={"margin-right": "10px"} value=`fxbksghs`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Port
                                    input(type="text" class="form-control" name="ddsport" style={"margin-right": "10px"} value=`nfgkhkjsg`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) MongoDB IP Addres
                                    input(type="text" class="form-control" name="mongourl" style={"margin-right": "10px"} value=`nfmbgsjgksug`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) MongoDB port
                                    input(type="text" class="form-control" name="mongoport" style={"margin-right": "10px"} value=`bdfvhjgsksjrg`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) Database Name
                                    input(type="text" class="form-control" name="dbname" style={"margin-right": "10px"} value=`hmdfgjhgkjs`)
                                .col-md-4
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) DDS IP Address
                                    input(type="text" class="form-control" name="ddsurl" style={"margin-right": "10px"} value=`fxbksghs`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Port
                                    input(type="text" class="form-control" name="ddsport" style={"margin-right": "10px"} value=`nfgkhkjsg`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) MongoDB IP Addres
                                    input(type="text" class="form-control" name="mongourl" style={"margin-right": "10px"} value=`nfmbgsjgksug`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) MongoDB port
                                    input(type="text" class="form-control" name="mongoport" style={"margin-right": "10px"} value=`bdfvhjgsksjrg`)
                                    p(style={"margin-top":"10px", "margin-right": "10px"}) Database Name
                                    input(type="text" class="form-control" name="dbname" style={"margin-right": "10px"} value=`hmdfgjhgkjs`)
                            button(type='submit' class='btn btn-primary' id="rmf3b", style={"margin-top":"13px", "width":"98%"}) Save
                    a.prev(onclick='plusSlides(-1)') &#x276E;
                    a.next(onclick='plusSlides(1)') &#x276F;

block scripts
    script(src='/javascripts/slider.js')
