extends layout

block content
    if(data)
        .salis(style={"margin-left":"30%","margin-right":"30%", "border":"Solid", "border-color":"blue", "height":"75vh", "margin-top":"5%"})
            h2(style={"text-align":"center", "margin-top":"2%"}) Change Password
            hr
            if(cpmsg)
                div(class="alert alert-danger" role="alert") Passwords do not Match
            .sali(style={"margin": "5%"})
                form( action=`/UpdatePasswordForm` method="post")
                    h4 Username:
                    input(type="text" class="form-control" name="name" style={"margin-right": "10px"}, value="Admin")
                    br
                    h4 New Password:
                    input(type="password" class="form-control" name="newpassword" style={"margin-right": "10px"})
                    br
                    h4 Comfirm Password:
                    input(type="password" class="form-control" name="cpassword" style={"margin-right": "10px"})
                    br
                    button(type='submit' class='btn btn-primary' id="rmf3b", style={"margin-top":"7px", "width":"100%"}) Change
    else
        .salis(style={"margin-left":"30%","margin-right":"30%", "border":"Solid", "border-color":"blue", "height":"70vh", "margin-top":"5%"})
            h2(style={"text-align":"center", "margin-top":"2%"}) ZEBRA LOGIN
            hr
            if(lgmsg)
                div(class="alert alert-danger" role="alert") Login Failed
            .sali(style={"margin": "5%"})
                form( action=`/log_in` method="post")
                    h4 Username:
                    input(type="text" class="form-control" name="name" style={"margin-right": "10px"})
                    br
                    h4 Password:
                    input(type="password" class="form-control" name="password" style={"margin-right": "10px"})
                    br
                    br
                    button(type='submit' class='btn btn-primary' id="rmf3b", style={"margin-top":"7px", "width":"100%"}) Log In