extend layout
block header
    style.
        form {
            --background: white;
            --border: rgba(0, 0, 0, 0.125);
            --borderDark: rgba(0, 0, 0, 0.25);
            --borderDarker: rgba(0, 0, 0, 0.5);
            --bgColorH: 0;
            --bgColorS: 0%;
            --bgColorL: 98%;
            --fgColorH: 210;
            --fgColorS: 50%;
            --fgColorL: 38%;
            --shadeDark: 0.3;
            --shadeLight: 0.7;
            --shadeNormal: 0.5;
            --borderRadius: 0.125rem;
            --highlight: #306090;
            background: white;
            border: 1px solid var(--border);
            border-radius: var(--borderRadius);
            box-shadow: 0 1rem 1rem -0.75rem var(--border);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            overflow: hidden;
        }

        .topa{
            width:450px;
            margin: auto;
            border: 5px;
            padding: 10px;
            margin-top: 10vh;
        }

        @media screen and (max-width: 720px) {
            body{margin:0px;}
            .topa{
                width:96%;
                margin: auto;
                border: 5px;
                padding: 10px;
                margin-top: 10vh;
            }
        }

block content
    if(data)
        div(class='topa')
            if(cpmsg)
                div(class="alert alert-danger" role="alert") Passwords do not Match
            form( action=`/UpdatePasswordForm` method="post")
                legend
                    center
                        h2
                            b(style={'font-family': 'Calisto MT'}) Change Password
                div(class="form-group")
                    label(for="name") Username
                    div(class="input-group mb-2")
                        div(class="input-group-prepend")
                            div(class="input-group-text") 
                                i(class="fas fa-user")
                        input(type="text" class="form-control" name='name' id="name" placeholder="Username")
                div(class="form-group")
                    label(for="password") Password
                    div(class="input-group mb-2")
                        div(class="input-group-prepend")
                            div(class="input-group-text") 
                                i(class="fas fa-key")
                        input(type="password" class="form-control" name='newpassword' id="newpassword" placeholder="Password")
                div(class="form-group")
                    label(for="password") Password
                    div(class="input-group mb-2")
                        div(class="input-group-prepend")
                            div(class="input-group-text") 
                                i(class="fas fa-key")
                        input(type="password" class="form-control" name='cpassword' id="cpassword" placeholder="Password")
                
                button(type='submit' class='btn btn-primary' id="rmf3b", style={"margin-top":"7px", "width":"100%"}) Change
    else 
        div(class='topa')
            if(lgmsg)
                div(class="alert alert-danger" role="alert") Login Failed
            form( action=`/log_in` method="post")
                legend
                    center
                        h2
                            b(style={'font-family': 'Calisto MT'}) Login
                div(class="form-group")
                    label(for="name") Username
                    div(class="input-group mb-2")
                        div(class="input-group-prepend")
                            div(class="input-group-text") 
                                i(class="fas fa-user")
                        input(type="text" class="form-control" name='name' id="name" placeholder="Username")
                div(class="form-group")
                    label(for="password") Password
                    div(class="input-group mb-2")
                        div(class="input-group-prepend")
                            div(class="input-group-text") 
                                i(class="fas fa-key")
                        input(type="password" class="form-control" name='password' id="password" placeholder="Password")
                
                button(type='submit' class='btn btn-primary' id="rmf3b", style={"margin-top":"7px", "width":"100%"}) Log In