extend layout

block content
    div(class="sidenav")
        a(href="javascript:ddssetting()" class="daa") DDS
        a(href="javascript:zsetting()" class="daa") Zconfig

    div(class="main", style={"overflow" : "auto"})
        h4 Welcome to admin panel

    

block scripts
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')
    script.
        function ddssetting(){
            $.ajax({
                url: '/ddssetting',
            })
            .done(function(e){
                $('.main').html(e);
            });
        }
        function zsetting(){
            $.ajax({
                url: '/zsetting',
            })
            .done(function(e){
                $('.main').html(e);
            });   
        }

    
