.apis{
    width: 96%;
    margin-left: 2%;
}

.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color:grey;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: blue;
}

.main {
    margin-top: 2%;
    margin-left: 12%; 
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}