# Node Modules
node_modules

# Local Databases
db
data

# DB
my.db
my.dbrefresh

# Zconfig file
config/Zconfig.json
config/dds.js
config/Zconfig copy.json

# SSL Certs
sslcert/*.cert
sslcert/*.key

# Prometheus Metrics
metrics.json

# Nodemon config
src/nodemon.json

# Tokens
.env